#   This file is there to manage <LF> & <CR><LF>
#   When the repository is on an UNIX server (b<>com forges),
# the end of line is converted into <LF>
#   When a file is locally resave without any changes,
# windows will replace <LF> with <CR><LF> and will be seen as modified
# 
# Below is a list of file that shall be converted to native line endings on checkout.
*.xpdl
*.pxml
*.xpdl
*.properties
*.provxml
*.props
*.ixp


