<?xml version = "1.0" encoding="iso-8859-1" standalone="no"?>
<screen>
  <source></source>
  <destination>
    <page ar="" de="" en="" es="" fr="" it="" pt="" technicalName="1" titleTab="Events" zh="">
      <verticallayout>
        <css class="css"></css>
        <verticallayout_spaceBetweenComponent class="text">5</verticallayout_spaceBetweenComponent>
        <theme class="theme"></theme>
        <separator class="separator"></separator>
        <hidden class="boolean">false</hidden>
        <posx class="number">1</posx>
        <posy class="number">1</posy>
        <sizextype class="sizetype">AUTOMATICSIZING</sizextype>
        <altersizex class="hidden">30</altersizex>
        <sizex class="number">488</sizex>
        <sizeytype class="sizetype">AUTOMATICSIZING</sizeytype>
        <sizey class="number">408</sizey>
        <altersizey class="hidden">30</altersizey>
        <alty class="hidden">0</alty>
        <name class="text"></name>
        <id class="hidden">k2779433779798633</id>
        <childs class="hidden">
          <label>
            <content class="lingual">
              <fr>Evenements disponibles</fr>
            </content>
            <wordwrap class="boolean">false</wordwrap>
            <alignment class="alignment">left</alignment>
            <css class="css"></css>
            <linklabelid class="text"></linklabelid>
            <tooltip class="lingual">
              <fr></fr>
            </tooltip>
            <mail class="boolean">false</mail>
            <separator class="separator"></separator>
            <hidden class="boolean">false</hidden>
            <posx class="number">73</posx>
            <posy class="number">44</posy>
            <sizextype class="sizetype">AUTOMATICSIZING</sizextype>
            <altersizex class="hidden">30</altersizex>
            <sizex class="number">147</sizex>
            <sizeytype class="sizetype">AUTOMATICSIZING</sizeytype>
            <sizey class="number">20</sizey>
            <altersizey class="hidden">30</altersizey>
            <alty class="hidden">0</alty>
            <name class="text"></name>
            <id class="hidden">j2778071478626561</id>
            <fieldButton class="node" component_en="Link to a directory field" component_fr="Lier &#224; un attribut annuaire" components="fieldPart" en="" fr="" indexed="local" maxcomp="1"></fieldButton>
            <components class="components">
              <fieldPart class="node" en="" fr="">
                <values class="node" delete_en="Delete" delete_fr="Supprimer" en="" fr="" indexed="father" position="false">
                  <pattern class="lingual">
                    <fr>{0}</fr>
                  </pattern>
                  <attrs class="linkattrs"></attrs>
                  <clickable class="boolean">false</clickable>
                  <resource class="resource_blank"></resource>
                  <multivalue class="boolean">false</multivalue>
                  <field class="field"></field>
                </values>
              </fieldPart>
            </components>
          </label>
          <horizontallayout>
            <verticalalignment class="verticalalignment">top</verticalalignment>
            <css class="css"></css>
            <horizontallayout_spaceBetweenComponent class="text">5</horizontallayout_spaceBetweenComponent>
            <theme class="theme"></theme>
            <separator class="separator"></separator>
            <hidden class="boolean">false</hidden>
            <posx class="number">615</posx>
            <posy class="number">160</posy>
            <sizextype class="sizetype">FIXED</sizextype>
            <altersizex class="hidden">30</altersizex>
            <sizex class="number">84</sizex>
            <sizeytype class="sizetype">FIXED</sizeytype>
            <sizey class="number">30</sizey>
            <altersizey class="hidden">30</altersizey>
            <alty class="hidden">0</alty>
            <name class="text"></name>
            <id class="hidden">d2782021919124295</id>
            <childs class="hidden">
              <label>
                <content class="lingual">
                  <fr>filtre</fr>
                </content>
                <wordwrap class="boolean">false</wordwrap>
                <alignment class="alignment">left</alignment>
                <css class="css"></css>
                <linklabelid class="text"></linklabelid>
                <tooltip class="lingual">
                  <fr></fr>
                </tooltip>
                <mail class="boolean">false</mail>
                <separator class="separator"></separator>
                <hidden class="boolean">false</hidden>
                <posx class="number">617</posx>
                <posy class="number">148</posy>
                <sizextype class="sizetype">AUTOMATICSIZING</sizextype>
                <altersizex class="hidden">30</altersizex>
                <sizex class="number">33</sizex>
                <sizeytype class="sizetype">AUTOMATICSIZING</sizeytype>
                <sizey class="number">20</sizey>
                <altersizey class="hidden">30</altersizey>
                <alty class="hidden">0</alty>
                <name class="text">filterLbl</name>
                <id class="hidden">f27828840752095914</id>
                <fieldButton class="node" component_en="Link to a directory field" component_fr="Lier &#224; un attribut annuaire" components="fieldPart" en="" fr="" indexed="local" maxcomp="1"></fieldButton>
                <components class="components">
                  <fieldPart class="node" en="" fr="">
                    <values class="node" delete_en="Delete" delete_fr="Supprimer" en="" fr="" indexed="father" position="false">
                      <pattern class="lingual">
                        <fr>{0}</fr>
                      </pattern>
                      <attrs class="linkattrs"></attrs>
                      <clickable class="boolean">false</clickable>
                      <resource class="resource_blank"></resource>
                      <multivalue class="boolean">false</multivalue>
                      <field class="field"></field>
                    </values>
                  </fieldPart>
                </components>
              </label>
              <choice>
                <content class="text"></content>
                <resourcefed class="simpleresourcefed">Continent/TCT_NAME/</resourcefed>
                <css class="css"></css>
                <tooltip class="lingual">
                  <fr></fr>
                </tooltip>
                <tabindex class="number"></tabindex>
                <text class="list"></text>
                <parameters class="list"></parameters>
                <onclick class="script"></onclick>
                <separator class="separator"></separator>
                <hidden class="boolean">false</hidden>
                <enable class="boolean">true</enable>
                <posx class="number">12</posx>
                <posy class="number">22</posy>
                <sizextype class="sizetype">AUTOMATICSIZING</sizextype>
                <altersizex class="hidden">30</altersizex>
                <sizex class="number">5</sizex>
                <sizeytype class="sizetype">AUTOMATICSIZING</sizeytype>
                <sizey class="number">22</sizey>
                <altersizey class="hidden">30</altersizey>
                <alty class="hidden">0</alty>
                <name class="text">continentFld</name>
                <id class="hidden">e27832151923742915</id>
                <fieldButton class="node" component_en="Link to a directory field" component_fr="Lier &#224; un attribut annuaire" components="fieldPart" en="" fr="" indexed="local" maxcomp="1"></fieldButton>
                <components class="components">
                  <fieldPart class="node" en="" fr="">
                    <values class="node" delete_en="Delete" delete_fr="Supprimer" en="" fr="" indexed="father" position="false">
                      <field class="field"></field>
                    </values>
                  </fieldPart>
                </components>
              </choice>
              <check>
                <required class="boolean">false</required>
                <content class="text"></content>
                <css class="css"></css>
                <tooltip class="lingual">
                  <fr>Mes &#233;venements</fr>
                </tooltip>
                <tabindex class="number"></tabindex>
                <wording class="lingual">
                  <fr></fr>
                </wording>
                <parameters class="list"></parameters>
                <onclick class="script"></onclick>
                <separator class="separator"></separator>
                <hidden class="boolean">false</hidden>
                <enable class="boolean">true</enable>
                <posx class="number">36</posx>
                <posy class="number">21</posy>
                <sizextype class="sizetype">AUTOMATICSIZING</sizextype>
                <altersizex class="hidden">30</altersizex>
                <sizex class="number">5</sizex>
                <sizeytype class="sizetype">AUTOMATICSIZING</sizeytype>
                <sizey class="number">22</sizey>
                <altersizey class="hidden">30</altersizey>
                <alty class="hidden">0</alty>
                <name class="text">myEventsCbx</name>
                <id class="hidden">g27862832512623521</id>
                <fieldButton class="node" component_en="Link to a directory field" component_fr="Lier &#224; un attribut annuaire" components="fieldPart" en="" fr="" indexed="local" maxcomp="1"></fieldButton>
                <components class="components">
                  <fieldPart class="node" en="" fr="">
                    <values class="node" delete_en="Delete" delete_fr="Supprimer" en="" fr="" indexed="father" position="false">
                      <field class="field"></field>
                    </values>
                  </fieldPart>
                </components>
              </check>
              <button>
                <content class="lingual">
                  <fr>Filtrer</fr>
                </content>
                <wordwrap class="boolean">false</wordwrap>
                <alt class="lingual">
                  <fr></fr>
                </alt>
                <tooltip class="lingual">
                  <fr></fr>
                </tooltip>
                <tabindex class="number"></tabindex>
                <onclick class="script"></onclick>
                <submit class="boolean">false</submit>
                <separator0 class="separator"></separator0>
                <confirmation class="boolean">false</confirmation>
                <confirmationdialogmessage class="lingual">
                  <fr></fr>
                </confirmationdialogmessage>
                <confirmationdialogtitle class="lingual">
                  <fr></fr>
                </confirmationdialogtitle>
                <theme class="theme"></theme>
                <css class="css"></css>
                <separator1 class="separator"></separator1>
                <waitbutton class="boolean">true</waitbutton>
                <waitingmode class="waitingmode">none</waitingmode>
                <progressbartitle class="lingual">
                  <fr></fr>
                </progressbartitle>
                <progressbarnboperationtext class="lingual">
                  <fr></fr>
                </progressbarnboperationtext>
                <progressbarnboperationdonetext class="lingual">
                  <fr></fr>
                </progressbarnboperationdonetext>
                <prescript class="script"></prescript>
                <separator2 class="separator"></separator2>
                <image class="file"></image>
                <image2 class="file"></image2>
                <separator class="separator"></separator>
                <hidden class="boolean">false</hidden>
                <enable class="boolean">true</enable>
                <posx class="number">594</posx>
                <posy class="number">156</posy>
                <sizextype class="sizetype">AUTOMATICSIZING</sizextype>
                <altersizex class="hidden">30</altersizex>
                <sizex class="number">41</sizex>
                <sizeytype class="sizetype">AUTOMATICSIZING</sizeytype>
                <sizey class="number">20</sizey>
                <altersizey class="hidden">30</altersizey>
                <alty class="hidden">0</alty>
                <name class="text">filterBtn</name>
                <id class="hidden">r27844943857872619</id>
              </button>
            </childs>
          </horizontallayout>
        </childs>
      </verticallayout>
      <multilist>
        <content class="text"></content>
        <tablecss class="css"></tablecss>
        <headercss class="css"></headercss>
        <evenrowcss class="css"></evenrowcss>
        <oddrowcss class="css"></oddrowcss>
        <hoverrowcss class="css"></hoverrowcss>
        <hoverrowboolean class="boolean">true</hoverrowboolean>
        <tooltip class="lingual">
          <fr></fr>
        </tooltip>
        <headertitles class="linguallist">
          <fr>
            <item0>nom</item0>
            <item1>date</item1>
          </fr>
        </headertitles>
        <headerpercents class="list"></headerpercents>
        <headervisible class="multilistsetheaders" headerfix="true">true</headervisible>
        <onheaderclick class="script"></onheaderclick>
        <ondoubleclick class="script"></ondoubleclick>
        <selection class="selectionMode" wantTitle="false">SimpleSelection</selection>
        <separator1 class="separator"></separator1>
        <captioncss class="css">_000000__FFFFFF__000000_0</captioncss>
        <caption class="lingual">
          <fr></fr>
        </caption>
        <summary class="lingual">
          <fr></fr>
        </summary>
        <headerabbreviations class="linguallist">
          <fr></fr>
        </headerabbreviations>
        <separator class="separator"></separator>
        <hidden class="boolean">false</hidden>
        <posx class="number">30</posx>
        <posy class="number">44</posy>
        <sizextype class="sizetype">AUTOMATICSIZING</sizextype>
        <altersizex class="hidden">30</altersizex>
        <sizex class="number">30</sizex>
        <sizeytype class="sizetype">AUTOMATICSIZING</sizeytype>
        <sizey class="number">30</sizey>
        <altersizey class="hidden">30</altersizey>
        <alty class="hidden">0</alty>
        <name class="text"></name>
        <id class="hidden">l27900065890706324</id>
      </multilist>
    </page>
  </destination>
</screen>
