<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <LINK REL=stylesheet TYPE="text/css" HREF="web/login/css/styles.css">  
		<link rel="icon" href="web/icon.png" type="image/x-icon" />
		<title>Meibo</title>
	</head>
<script language="javascript">

function testFrame () 
{

	/*the topmost window in the window hierarchy*/
	var topWindow = window.top;

	/*if it is a picker we close it and reload the main page*/
	if(topWindow.name=='Picker'){
		topWindow.opener.location.reload();
		topWindow.close();
	}
	
}
</script>
	
<body onload="testFrame();">
	<table class="table_page">
		<tr>
			<td>
				<div class="error_page">
					<div class="content">
						<h1>&nbsp;</h1>							 
						<form name="theForm" method="POST" action="dsdalert" target="_top" accept-charset="UTF-8" >
						<input type="HIDDEN" name="message" value="{$message}">
						<input type="HIDDEN" name="reconnect" value="{$reconnect}">

							<div class="form_table2">
								<table width="100%">
									  <tr>
										<td class="form_line">{$message}</td>							
									  </tr>
									  <tr>
										<td class="form_line">&nbsp;</td>							
									  </tr>					  
									  <tr>
										<td class="form_line"><a href="dsdstart?useCookie=true" target="_top">{$reconnect}</a></td>							
									  </tr>
								</table>
							</div>
						</form>
					</div>
				</div>
			</td>
		</tr>
	</table> 
</body>
</html>

